/* Google fonts */
@import url("http://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i,700,700i|Montserrat:300,400,500,600,700");

p {
    font-size: 15px;
    margin: 0 0 10px;
    font-weight: 400;
}

img {
    vertical-align: bottom;
    max-width: 100%;
    height: auto;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

.form-group {
    position: relative;
    margin: 0 0 25px;
}

.form-control,
.form-control:focus {
    height: 42px;
}

.form-control,
.form-control:focus,
.has-error .form-control,
.has-error .form-control:focus {
    position: relative;
    border: 0;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 0;
    display: block;
    font-size: 0.9em;
    margin: 0;
    padding: 10px 0 10px 0;
    width: 100%;
    background: transparent;
    text-align: left;
    color: inherit;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
    font-family: 'Roboto', Helvetica, sans-serif;
}

textarea.form-control,
textarea.form-control:focus {
    height: auto;
}

.form-control+.form-control-border {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #2eca7f;
    height: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.form-control:focus+.form-control-border {
    left: 0;
    right: 0;
    z-index: 1;
}

.has-error .form-control+.form-control-border {
    background: #ff4c4c;
}

.form-group label {
    opacity: 0.4;
    position: absolute;
    top: 9px;
    font-size: 15px;
    font-weight: 400;
    color: #424242;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.form-group.form-group-focus label {
    top: -12px;
    font-size: 0.8em;
    z-index: 3;
}

.form-group-with-icon {
    padding-left: 40px;
}

.form-group-with-icon .form-control {
    padding-left: 12px;
}

.form-group-with-icon label {
    left: 52px;
}

.form-group-with-icon i {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    width: 40px;
    text-align: center;
    line-height: 42px;
    height: 100%;
    color: #bdbdbd;
    background-color: #fafafa;
    border-bottom: 1px solid #e0e0e0;
}

.form-group-with-icon.form-group-focus i {
    color: #2eca7f;
}

.center {
    text-align: center;
}

.btn-primary,
.btn-secondary,
button,
input[type="button"],
input[type="submit"] {
    text-transform: uppercase;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 2.8;
    padding: 0 1.5em;
    outline: none;
    border: 0;
    border-radius: 3px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
button,
input[type="button"],
input[type="submit"] {
    background-color: #FF6B6B;
    color: #fff;
    border: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.3);
}

.btn-primary:hover,
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    background-color: #fff;
    color: #212121;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.3);
}

.btn-secondary:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
}

.block-title h3 {
    font-size: 21px;
    margin: 5px 0 25px;
}

.block-title h3 span {
    color: #2eca7f;
}

.post-meta .item {
    display: inline-block;
    font-size: 13px;
    margin-right: 10px;
}

.post-meta .item:before {
    padding-right: 5px;
}

.content-area {
    position: relative;
    width: 1200px;
    margin: 50px auto;
    background-color: #fff;
    overflow: hidden;
    border-radius: 20px;
    padding: 30px;
    -webkit-box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
}

.blog-post-content {
    position: relative;
    background-color: whitesmoke;
    padding: 30px;
    margin: -50px 40px 0;
}

.blog-post-content .block-title {
    margin: 40px 0 10px;
}

.entry-meta {
    color: #9e9e9e;
    margin: 20px 0 30px;
}

.entry-meta:hover {
    color: #F4511E;
}

.media-heading {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight:500;
}

.blog-post-content .post-comment-add {
    max-width: 700px;
}

.blog-post-content .post-comments .media {
    margin-top: 30px;
}

.blog-post-content .post-comments>.media {
    margin-top: 0;
}

.post-comments .media-object {
    max-width: 60px;
    border-radius: 50px;
}

.post-comments .media-footer,
.post-comments .media-footer a {
    display: inline-block;
    color: #9e9e9e;
    font-size: 12px;
    line-height: 1em;
}

.post-comments .media-footer a:hover {
    color: #ffcd38;
}

.blog-post-content .divider {
    color: #d3d3d3;
    margin: 0 8px;
    min-width: 5px;
}

.post-comments .light-gray {
    color: #9e9e9e;
    font-size: 12px;
}